* {
    box-sizing: border-box;
}

body{
    background-color: #010203;
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat';
}

.header{
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
    padding-left: 5px;
}

#logo p{
    font-size: 18px;
    letter-spacing: 3px;
    color: #8A4FFF;
    font-family: 'Permanent Marker';
    -webkit-text-stroke: 0.1px white;
    text-shadow: 1px 1px 0px #c4a7ff;
}

.links{
    width: 265px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links a{
    color: #fff;
    text-decoration: none;
    opacity: 70%;
    font-size: 10px;
}

.links a:hover{
    cursor: pointer;
    opacity: 100%;
}

.title{
    margin-top: 40px;
}

.webWord{
    text-align: center;
    -ms-transform: skewY(20deg); 
    transform: skewY(20deg);
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.webWord span{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}

.webWord span:not(:first-child){
   margin-left: -0.27em;
}

.developerWord{
    text-align: center;
    -ms-transform: skewY(350deg); 
    transform: skewY(350deg);
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
}

.developerWord span{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);

}

.developerWord span:not(:first-child){
    margin-left: -0.27em;
 }

 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.aboutMe{
    margin: 70px 20px 0px 20px ;
}

.aboutMe h2{
    color: #fff;
    font-size: 20px;
    opacity: 90%;
    padding: 0px 0px 5px 15px;
    border-bottom: 1px solid #ffffff9c;
}

.aboutMe p{
    color: #fff;
    opacity: 90%;
    font-size: 14px;
    text-indent: 10px;
    padding: 0px 10px;
}

#stepItWord{
    text-decoration: underline solid 2px;
    font-weight:800;
    color: #8A4FFF;
}

#stepItWord:hover{
    color: yellow;
}

#secondPar{
    padding-left: 10px;
}

#thirdPar{
    padding-left: 10px;
}

.mySkills{
    margin: 60px 20px 0px 20px ;
}

.mySkills h2{
    color: #fff;
    font-size: 20px;
    opacity: 90%;
    padding: 0px 0px 5px 15px;
    border-bottom: 1px solid #ffffff9c;
}


.frontWord{
    text-align: center;
    padding-top: 10px;
}

.frontWord span{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    text-shadow:  1px 2px 1px #8A4FFF;
}

.allFront{
    text-align: center;
}

.allFront p{
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}

.backEnd{
    margin-top: 20px;
}

.backWord{
    text-align: center;
    padding-top: 10px;
}

.backWord span{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    text-shadow:  1px 2px 1px #8A4FFF;
}

.allBack{
    text-align: center;
}

.allBack p{
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}

.cms{
    margin-top: 20px;
}

.cmsWord{
    text-align: center;
    padding-top: 10px;
}

.cms span{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    text-shadow:  1px 2px 1px #8A4FFF;
}

.cms p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}

.myWork{
    margin: 60px 20px 0px 20px;
}

.myWork h2{
    color: #fff;
    font-size: 20px;
    opacity: 90%;
    padding: 0px 0px 5px 15px;
    border-bottom: 1px solid #ffffff9c;
}

.myWork p{
    color: #fff;
    font-size: 14px;
    padding: 0px 10px;
}

#firstProjectTitle{
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 6px yellow;
}

#projectDescription{
    text-indent: 10px;
}

#seeProject{
    color:#8A4FFF;
    font-weight: 800;
}

#seeCode{
    color:#8A4FFF;
    font-weight: 800;
}

.contactMe{
    margin: 60px 20px 20px 20px;
}

.contactMe h2{
    color: #fff;
    font-size: 20px;
    opacity: 90%;
    padding: 0px 0px 5px 15px;
    border-bottom: 1px solid #ffffff9c;
}

.phoneNumb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

.phoneNumb img{
    width: 25px;
    height: 25px;
}

.phoneNumb p{
    color: #fff;
    letter-spacing: 2px;
    padding-left: 10px;
}

.emailAdd{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

.emailAdd img{
    width: 25px;
    height: 25px;
}

.emailAdd p{
    color: #fff;
    letter-spacing: 2px;
    padding-left: 10px;
}

.linkedIn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.linkedIn img{
    width: 25px;
    height: 25px;
}

.linkedIn a{
    color: #fff;
    letter-spacing: 2px;
    margin-left: 10px;
    transition: 2s ease;
}

.linkedIn a:hover{
    color: yellow;
}

#goToTopBtn{
    display: block;
    margin: 20px auto;
    font-size: 15px;
    color: #fff;
    background-color: #8A4FFF;
    border: 1px solid #c4a7ff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 30px auto;
    padding:5px 10px 5px 10px;
    cursor: pointer; 
}

@media screen and (min-width: 1201px){
    .header{
        display: none;
    }

    #logo{
        padding-left: 25px;
    }
    
    #logo p{
        font-size: 35px;
    }

    .links{
        width: 50%;
    }

    .links a{
        font-size: 16px;
    }

    .title{
        margin-top: 80px;
    }

    .webWord{
        background-color: #8A4FFF
    }

    .webWord span{
        font-size: 100px;
    }

    .developerWord{
        margin-top: 25px;
        background-color: #8A4FFF;
    }

    .developerWord span{
        font-size: 100px;
    }

    .mainContent{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 130px 20px 0px 20px;
        padding-top: 60px;
    }

    .aboutMe{
        margin: 20px;
    }

    .aboutMe h2{
        font-size: 30px;
        text-align: center;
        padding: 0px 0px 5px 0px;
    }
    
    .aboutMe p{
        font-size: 18px;
    }
    
    .mySkills{
        margin: 20px;
        width: 240px;
    }
    
    .mySkills h2{
        font-size: 30px;
        text-align: center;
        padding: 0px 0px 5px 0px;
    }

    .frontWord span{
        font-size: 35px;
    }

    .allFront p{
        font-size: 20px;
    }
    
    
    .backWord span{
        font-size: 35px;
    }
    
    .allBack p{
        font-size: 20px;
    }
    
    .cms span{
        font-size: 35px;
    }
    
    .cms p{
        font-size: 20px;
    }

    .myWork{
        margin: 20px;
        width: 445px;
    }
    
    .myWork h2{
        font-size: 30px;
        text-align: center;
        padding: 0px 0px 5px 0px;
    }
    
    .myWork p{
        font-size: 18px;
    }
    
    #firstProjectTitle{
        font-size: 25px;
    }

    .contactMe{
        margin: 20px;
    }
    
    .contactMe h2{
        font-size: 30px;
        text-align: center;
        padding: 0px 0px 5px 0px;
    }
    
    .phoneNumb img{
        width: 30px;
        height: 30px;
        filter: drop-shadow(0px 0px 3px #c4a7ff);
    }
    
    .phoneNumb p{
        font-size: 18px ;
    }
    
    .emailAdd{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;
    }
    
    .emailAdd img{
        width: 30px;
        height: 30px;
        filter: drop-shadow(0px 0px 3px #c4a7ff);
    }
    
    .emailAdd p{
        font-size: 18px ;
    }
    
    .linkedIn img{
        width: 30px;
        height: 30px;
        filter: drop-shadow(0px 0px 3px #c4a7ff);
    }
    
    .linkedIn a{
        font-size: 18px ;
    }

    #goToTopBtn{
        display: none;
    }

}
