* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    min-height: 100vh;
}

.header{
    display: none;
}

.navBar{
    display: block;
    background-color: #4392F1 ;
    width: 100%;
    height: 70px;
    padding: 10px 0;
}

.navBarElements{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.navBarElements a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 0 5px;
}

.navBarElements a:hover{
    color: #FFC482   ;
}

.mainContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.profile_aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePic{
    width: 150px;
    height: 150px;
    filter:drop-shadow(8px 8px 4px #FFC482 );
}

.firstHellos{
    padding: 0px 5px;
    margin-top: 30px;
}

.firstHellos p:nth-child(1){
    font-size: 20px;
    text-align: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.firstHellos p:nth-child(2){
    font-size: 25px;
    text-align: center;
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#myName{
    color: #FFC482;
    text-shadow: 1px 1px 2px #000;
}

.aboutMeSection{
    margin: 30px 10px;
}

.aboutMeSection h2{
    text-align: center;
    color: #FFC482;
}

.aboutMeSection p{
    font-size: 14px;
    padding: 0px 10px;
    text-indent: 10px;
}

#stepItWord{
    text-decoration: underline solid 2px;
    font-weight:800;
    color: #4392F1;
}

#stepItWord:hover{
    color: #FFC482;
}

#secondPar{
    padding-left: 10px;
}

#thirdPar{
    padding-left: 10px;
}

.allSections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySkillsSection{
    margin-top: 30px;
}

.mySkillsSection h2{
    text-align: center;
    color: #FFC482;
}

.mySkillsSection p{
    font-size: 14px;
    text-align: center;
    color: #4392F1 ;
    font-weight: 800;
}

.container{
    width: 80%; 
    background-color: #ddd;
    border-radius: 10px; 
    margin: 0 auto;
}

.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.frontEnd {width: 50%;background-color:#29335C} 
.react {width: 30%; background-color: #29335C;}
.backEnd {width: 40%; background-color: #29335C;}  
.phpFramework {width: 40%; background-color: #29335C;}
.CMS {width: 60%; background-color: #29335C;}
.webDesign {width: 50%; background-color: #29335C;} 


.contactMe{
    margin-top: 50px;
}

.contactMe h2{
    text-align: center;
    color: #FFC482;
}

.contactMe > p{
    font-size: 14px;
    text-decoration: underline solid 2px #4392F1;
    text-underline-offset: 5px;
}

#phoneNumber{
    font-weight: bolder;
}

#emailAddress{
    font-weight: bolder;
}

.myWork{
    margin: 30px 10px;
    padding: 0px 10px 0px 10px;
}

.myWork h2{
    text-align: center;
    color: #FFC482;
}

#firstProjectTitle{
    text-align: center;
    font-size: 20px;
}

#firstProjectDescription{
    font-size: 14px;
    text-indent: 10px;
}

.projectPar{
    font-size: 14px;
}

#seeProject{
    color:#4392F1;
    font-size: 14px;
    font-weight: 800;
}

#seeProject:hover{
    color:#FFC482;
}

#seeCode{
    color:#4392F1;
    font-size: 14px;
    font-weight: 800;
}

#seeCode:hover{
    color:#FFC482;
}

#goToTopBtn{
    padding: 5px;
    background-color: #4392F1;
    color: #fff;
    border: 1px solid #FFC482;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        .navBarElements a{
            color: #fff;
            font-size: 18px;
            padding: 0 20px;
        }

        #profilePic{
            width: 200px;
            height: 200px;
        }

        .firstHellos p:nth-child(1){
            font-size: 30px;
        }

        .firstHellos p:nth-child(2){
        font-size: 35px;
        }

        .aboutMeSection h2{
            font-size: 34px;
        }

        .aboutMeSection p{
            font-size: 20px;
        }

        .mySkillsSection{
            width: 600px;
            margin-top: 30px;
        }

        .mySkillsSection h2{
            font-size: 34px;
        }

        .mySkillsSection p{
            font-size: 20px;
        }

        .container {
            width: 100%; 
        }

        .contactMe h2{
            font-size: 34px ;
        }

        .contactMe > p{
            display: inline-block;
            font-size: 18px;
            padding: 0px 20px ;
        }

        .myWork h2{
            font-size: 34px;
        }
        
        #firstProjectTitle{
            font-size: 25px;
        }

        #firstProjectDescription{
            font-size: 20px;
        }

        .projectPar{
            font-size: 20px;
            text-align: center;
        }
        
        #seeProject{
            font-size: 20px;
        }

        #seeCode{
            font-size: 20px;
        }

        #goToTopBtn{
            padding: 10px 15px 10px 15px;
            font-size: 16px;
        }

    }

    @media screen and (min-width:769px) and (max-width:1023px){

        .navbar{
            display: none ;
        }

        .navBar{
            padding: 5px 0;
        }

        .navBarElements a{
            font-size: 20px;
            padding: 0 20px;
        }

        #profilePic{
            width: 250px;
            height: 250px;
        }

        .firstHellos p:nth-child(1){
            font-size: 40px;
        }
    
        .firstHellos p:nth-child(2){
           font-size: 45px;
        }

        .aboutMeSection h2{
            font-size: 44px;
        }

        .aboutMeSection p{
            font-size: 25px;
        }
        
        .mySkillsSection{
            width: 800px;
            margin-top: 30px;
        }

        .mySkillsSection h2{
            font-size: 44px;
        }
    
        .mySkillsSection p{
            font-size: 25px;
        }
    
        .contactMe h2{
            font-size: 44px ;
        }

        .contactMe > p{
            display: inline-block;
            padding: 0px 15px ;
            font-size: 20px;
        }

        .myWork h2{
            font-size: 44px;
        }
        
        #firstProjectTitle{
            font-size: 30px;
        }
    
        #firstProjectDescription{
            font-size: 25px;
        }

        .projectPar{
            font-size: 25px;
            text-align: center;
        }

        #seeProject{
            font-size: 25px;
        }
    
        #seeCode{
            font-size: 25px;
        }
    
        #goToTopBtn{
            padding: 15px 20px 15px 20px;
            font-size: 22px;
        }
    }

    @media screen and (min-width:1024px) and (max-width:1200px) {
        .header{
            display: block;
            height: 150px;
            background-color: #FFC482;
            padding: 35px 0;
        }

        .header p {
            font-size: 60px;
            font-weight: 800;
            color: #fff;
            letter-spacing: 15px;
            margin: 0 auto;
            width: fit-content;
            text-shadow: 3px 3px 5px #000;
        }

        .navBar{
            height: 80px;
            padding: 5px 0;
        }
        
        .navBarElements a{
            font-size: 25px;
            padding: 0 20px;
        }

        #profilePic{
            width: 300px;
            height: 300px;
        }

        .firstHellos p:nth-child(1){
            font-size: 50px;
            
        }
    
        .firstHellos p:nth-child(2){
           font-size: 55px;
        }

        
        .aboutMeSection h2{
           font-size: 54px;
        }
        
        .aboutMeSection p{
            font-size: 30px;
        }

        .mySkillsSection{
            width: 1000px;
            margin-top: 30px;
        }

        .mySkillsSection h2{
            font-size: 54px;
        }

        .mySkillsSection p{
            font-size: 30px;
        }

        .skills{
            font-size: 20px;
        }

        .contactMe h2{
            font-size: 54px ;
        }

        .contactMe > p{
            display: inline-block;
            padding: 0px 15px ;
            font-size: 25px;
        }

        .myWork h2{
            font-size: 54px;
        }
        
        #firstProjectTitle{
            font-size: 40px;
        }
    
        #firstProjectDescription{
            font-size: 30px;
        }

        .projectPar{
            font-size: 30px;
            text-align: center;
        }

        #seeProject{
            font-size: 30px;
        }
    
        #seeCode{
            font-size: 30px;
        }
    
        #goToTopBtn{
            padding: 15px 20px 15px 20px;
            font-size: 28px;
        }
    }

    @media screen and (min-width: 1201px){

        .header{
            display: block;
            height: 200px;
            background-color: #FFC482;
            padding: 60px 0;
        }

        .header p {
            font-size: 60px;
            font-weight: 800;
            color: #fff;
            letter-spacing: 15px;
            margin: 0 auto;
            width: fit-content;
            text-shadow: 3px 3px 5px #000;
        }

        .navBar{
            display: none;
        }

        .mainContent{
            display:flex;
            flex-direction: row;
            align-items: stretch;
            margin: 0;
        }

        .profile_aboutMe{
            background-color: #bababa ;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 30%;
            padding-top: 40px;
        }

        #profilePic{
            width: 200px;
            height: 200px;
        }
        
        .firstHellos p:nth-child(1){
            font-size: 25px;
        }
        
        .firstHellos p:nth-child(2){
            font-size: 30px;
        }

        .aboutMeSection h2{
            font-size: 28px;
            text-shadow: 2px 2px 0px #000;
        }
        
        .aboutMeSection p{
            font-size: 20px;
            line-height: 30px;
        }

        .allSections{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 70%;
            padding-top: 40px;
        }

        .mySkillsSection{
           width: 800px;
            margin-top: 20px;
        }
        
        .mySkillsSection h2{
            font-size: 28px;
        }
        
        .mySkillsSection p{
            font-size: 20px;
        }
        
        .container {
            width: 100%; 
        }
            
        .contactMe h2{
            font-size: 28px;
        }
            
        .contactMe > p{
            display: inline-block;
            padding: 0px 15px ;
            font-size: 20px;
        }

        .myWork h2{
            font-size: 28px;
        }
        
        #firstProjectTitle{
            font-size: 25px;
        }

        #firstProjectDescription{
            font-size: 20px;
        }

        .projectPar{
            font-size: 20px;
            text-align: center;
            padding: 0px 80px;
        }

        #seeProject{   
            font-size: 20px;
        }
        
        #seeCode{
            font-size: 20px;
        }

        #goToTopBtn{
            display: none;
        }
    }
